.fa-lock {
    cursor: pointer;
}

.form1{

    padding-top: 15px;
    margin-top: auto;
    border-radius: 2px;
    border-bottom: 5px solid red;
    border-top: 5px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-style: double;


}
body{
    background-color: grey;
    padding: 0;
    margin: 0;
    color:black;
    line-height: 1.6em;
    font-size: 15px;
    text-align: justify;
}
.mb-3{

    padding-top: 15px;
    margin-top: auto;
    border-radius: 2px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-style: double;


}

